# NextAuth
NEXTAUTH_SECRET=https://example.com

# 0Auth
GOOGLE_ID=
GOOGLE_SECRET=

# MongoDB
MONGODB_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.<appId>.mongodb.net/<DBNAME>?retryWrites=true&w=majority

# Google Gemini
NEXT_PUBLIC_GEMINI_API_KEY=